@* Passing Data To Model *@
@model Category

<form method="post" class="shadow p-3 mb-5 bg-body rounded bg-primary mt-5">
    <fieldset>
        <h2>Are you sure want to Delete @Model.Title Category ?</h2>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control mt-4">Delete Category</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-action="Index" class="btn btn-secondary form-control mt-4">Back To List</a>
            </div>
        </div>
    </fieldset>
</form>

@* Client Side Validation *@
@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}