@* Passing Data To Model *@
@model Category

<form method="post" class="shadow p-3 mb-5 bg-body rounded bg-primary mt-5">
    <fieldset>
        <h2>Update @Model.Title</h2>
        <div>
            <label asp-for="Title" class="form-label mt-4"></label>
            <input type="text" asp-for="Title" class="form-control" placeholder="Enter Category Title">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Priority" class="form-label mt-4"></label>
            <input type="text" asp-for="Priority" class="form-control" placeholder="Enter Category Priority">
            <span asp-validation-for="Priority" class="text-danger"></span>
        </div>
        <div class="form-check form-switch mt-4">
            <input type="checkbox" asp-for="IsActive" class="form-check-input" id="isActiveSwitch">
            <label class="form-check-label" for="isActiveSwitch">Is Active?</label>
            <span asp-validation-for="IsActive" class="text-danger"></span>
        </div>


        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control mt-4">Edit Category</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-action="Index" class="btn btn-secondary form-control mt-4">Back To List</a>
            </div>
        </div>
    </fieldset>
</form>

@* Client Side Validation *@
@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}